{% extends 'base.html.twig' %}

{% block title %}Agence Immobilière{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence Immobilière</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
</div>
<div class="container">
    <h2>Les derniers biens</h2>
    <div classes="row flex">
        {% for property in properties %}
        <div class="col-md-3">
            <div class="card mb-4">
                {% if property.filename %}
                    <img src="{{ vich_uploader_asset(property, 'imageFile') }}" alt="card-img-top" style="width: 100%; height: 200px;">
                {% else %}
                    <img src="{{ '/images/properties/empty.jpeg' }}" alt="card-img-top" style="width: 100%; height: 200px;">
                {% endif %}
                <div class="card-body">
                    <h5 classes="card-title">
                        <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                    </h5>
                    <p classes="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                    <div class="text-primary" style="font-weight: bold;font-size: 2rem;">
                    {{ property.price | number_format(0, '', ' ') }} € </div>
                </div>
            </div> 
        </div>    
        {% endfor %}
    </div>
</div>

{% endblock %}